<div class="container box mt-1">
    <div class="form-heading d-flex flex-column align-items-center justify-content-around">
        <h1 class="text-dark my-2">Fill up the Given Inputs</h1>
        <hr>
    </div>
    <div class="form">
        <form [formGroup]="form">

            <div class="mb-3">
                <label for="companyName" class="form-label">Your  Company Name:</label>
                <input type="email" class="form-control" id="companyName" placeholder="Enter Here....."
                    formControlName="CompanyName">
            </div>

            <div class="mb-3">
                <label for="BillType" class="form-label">Your Bill Type:</label>
                <input type="email" class="form-control" id="BillType" placeholder="Enter Here....."
                    formControlName="billType">
            </div>

            <div class="mb-3">
                <label for="GSTnumber" class="form-label">Your GST Number:</label>
                <input type="email" class="form-control" id="GSTnumber" placeholder="Enter Here....."
                    formControlName="GSTNumber">
            </div>

            <div class="mb-3 w-100" formArrayName="mobileNumber">
                <label for="mNumber" class="form-label">Your Mobile Number:</label>
                <div class="my-1" *ngFor="let mob of mobileNumber.controls; let i = index">
                    <div class="input-group flex-nowrap">
                        <div class="input-group-text">
                            <button class="btn btn-outline-light text-dark" (click)="deleteMobInput(i)"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                </svg></button>
                        </div>
                        <input type="email" class="form-control" id="mobileNumber"
                            placeholder="Enter {{i+1}} Mobile Number" [formControlName]="i">
                    </div>
                </div>
                <button class="btn btn-outline-light text-dark mt-1" (click)="addMobInput()">Add <svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                        viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg> </button>
            </div>

            <div class="mb-3">
                <label for="Manufacturing" class="form-label">Your Manufacturing Details:</label>
                <textarea name="" id="" cols="30" rows="3" class="form-control"
                    formControlName="Manufacturing"></textarea>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Your Address:</label>
                <textarea name="" id="" cols="30" rows="3" class="form-control" formControlName="address"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-success w-100" [state]="form.value" routerLink="/Bill-Generate" (click)="showFormValue()">Submit</button>
            </div>
        </form>
    </div>
</div>